In [2]:
import pandas as pd

data = pd.read_excel("D:\Data Analyst\Project\hotel_booking_2.xlsx")
print(data)

               hotel  is_canceled  arrival_date_year arrival_date_month  \
0       Resort Hotel            0               2015               July
1       Resort Hotel            0               2015               July
2       Resort Hotel            0               2015               July
3       Resort Hotel            0               2015               July
4       Resort Hotel            0               2015               July
...              ...          ...                ...                ...
119385    City Hotel            0               2017             August
119386    City Hotel            0               2017             August
119387    City Hotel            0               2017             August
119388    City Hotel            0               2017             August
119389    City Hotel            0               2017             August

        adults  children  babies country reserved_room_type  \
0            2       0.0       0     PRT                  C
1            2       0.0       0     PRT                  C
2            1       0.0       0     GBR                  A
3            1       0.0       0     GBR                  A
4            2       0.0       0     GBR                  A
...        ...       ...     ...     ...                ...
119385       2       0.0       0     BEL                  A
119386       3       0.0       0     FRA                  E
119387       2       0.0       0     DEU                  D
119388       2       0.0       0     GBR                  A
119389       2       0.0       0     DEU                  A

       assigned_room_type customer_type reservation_status Room_status  \
0                       C     Transient          Check-Out     Desired
1                       C     Transient          Check-Out     Desired
2                       C     Transient          Check-Out  Un-Desired
3                       A     Transient          Check-Out     Desired
4                       A     Transient          Check-Out     Desired
...                   ...           ...                ...         ...
119385                  A     Transient          Check-Out     Desired
119386                  E     Transient          Check-Out     Desired
119387                  D     Transient          Check-Out     Desired
119388                  A     Transient          Check-Out     Desired
119389                  A     Transient          Check-Out     Desired

       Guest_type
0         Couples
1         Couples
2          Single
3          Single
4         Couples
...           ...
119385    Couples
119386     Family
119387    Couples
119388    Couples
119389    Couples

[119390 rows x 14 columns]

In [13]:
# print(data.duplicated()) # row in dulicate value present ?

print(data['country'].duplicated().sum())

119212

In [14]:
print(data.drop_duplicates('country'))

               hotel  is_canceled  arrival_date_year arrival_date_month  \
0       Resort Hotel            0               2015               July
2       Resort Hotel            0               2015               July
12      Resort Hotel            0               2015               July
13      Resort Hotel            0               2015               July
15      Resort Hotel            0               2015               July
...              ...          ...                ...                ...
113817    City Hotel            0               2017               June
113912    City Hotel            0               2017               June
115334    City Hotel            0               2017               July
117399    City Hotel            0               2017               July
117943    City Hotel            0               2017             August

        adults  children  babies country reserved_room_type  \
0            2       0.0       0     PRT                  C
2            1       0.0       0     GBR                  A
12           2       0.0       0     USA                  D
13           2       1.0       0     ESP                  G
15           2       0.0       0     IRL                  D
...        ...       ...     ...     ...                ...
113817       1       0.0       0     KIR                  A
113912       2       0.0       0     SDN                  A
115334       2       0.0       0     ATF                  A
117399       2       0.0       0     SLE                  A
117943       2       0.0       0     LAO                  D

       assigned_room_type customer_type reservation_status Room_status  \
0                       C     Transient          Check-Out     Desired
2                       C     Transient          Check-Out  Un-Desired
12                      E     Transient          Check-Out  Un-Desired
13                      G     Transient          Check-Out     Desired
15                      E     Transient          Check-Out  Un-Desired
...                   ...           ...                ...         ...
113817                  A     Transient          Check-Out     Desired
113912                  A     Transient          Check-Out     Desired
115334                  A     Transient          Check-Out     Desired
117399                  A     Transient          Check-Out     Desired
117943                  D     Transient          Check-Out     Desired

       Guest_type
0         Couples
2          Single
12        Couples
13         Family
15        Couples
...           ...
113817     Single
113912    Couples
115334    Couples
117399    Couples
117943    Couples

[178 rows x 14 columns]