In [1]:
import pandas as pd

data = {'Name':['Dipankar','Aman','Nikhil'],
         'Age':[21,20,22],
        'Salary':[3000000,500000,6000000]
       }

# by user create Data:
df = pd.DataFrame(data)
print(df)

       Name  Age   Salary
0  Dipankar   21  3000000
1      Aman   20   500000
2    Nikhil   22  6000000

In [2]:
#By File create data Frame like a csv,excel

# for csv type data fetch
data = pd.read_csv("D:/Data Analyst/Project/hotel_booking.csv") 
print(data)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  customer_type     adr  \
0                          0       2  ...      Transient    0.00
1                          0       2  ...      Transient    0.00
2                          1       1  ...      Transient   75.00
3                          1       1  ...      Transient   75.00
4                          2       2  ...      Transient   98.00
...                      ...     ...  ...            ...     ...
119385                     5       2  ...      Transient   96.14
119386                     5       3  ...      Transient  225.43
119387                     5       2  ...      Transient  157.71
119388                     5       2  ...      Transient  104.40
119389                     7       2  ...      Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
0                                0                         0
1                                0                         0
2                                0                         0
3                                0                         0
4                                0                         1
...                            ...                       ...
119385                           0                         0
119386                           0                         2
119387                           0                         4
119388                           0                         0
119389                           0                         2

       reservation_status reservation_status_date                name  \
0               Check-Out              2015-07-01       Ernest Barnes
1               Check-Out              2015-07-01        Andrea Baker
2               Check-Out              2015-07-02      Rebecca Parker
3               Check-Out              2015-07-02        Laura Murray
4               Check-Out              2015-07-03         Linda Hines
...                   ...                     ...                 ...
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

                              email  phone-number       credit_card
0       Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1            Andrea_Baker94@aol.com  858-637-6955  ************9157
2        Rebecca_Parker@comcast.net  652-885-2745  ************3734
3                 Laura_M@gmail.com  364-656-8427  ************5677
4                LHines@verizon.com  713-226-5883  ************5498
...                             ...           ...               ...
119385          Claudia.J@yahoo.com  403-092-5582  ************8647
119386         WAguilar@xfinity.com  238-763-0612  ************4333
119387     Mary_Morales@hotmail.com  395-518-4100  ************1821
119388      MD_Caroline@comcast.net  531-528-1017  ************7860
119389         Ariana_M@xfinity.com  422-804-6403  ************4482

[119390 rows x 36 columns]

In [3]:
# for excel type data fetch:
da = pd.read_excel("D:/Data Analyst/Project/hotel_booking_2.xlsx")
print(da)

               hotel  is_canceled  arrival_date_year arrival_date_month  \
0       Resort Hotel            0               2015               July
1       Resort Hotel            0               2015               July
2       Resort Hotel            0               2015               July
3       Resort Hotel            0               2015               July
4       Resort Hotel            0               2015               July
...              ...          ...                ...                ...
119385    City Hotel            0               2017             August
119386    City Hotel            0               2017             August
119387    City Hotel            0               2017             August
119388    City Hotel            0               2017             August
119389    City Hotel            0               2017             August

        adults  children  babies country reserved_room_type  \
0            2       0.0       0     PRT                  C
1            2       0.0       0     PRT                  C
2            1       0.0       0     GBR                  A
3            1       0.0       0     GBR                  A
4            2       0.0       0     GBR                  A
...        ...       ...     ...     ...                ...
119385       2       0.0       0     BEL                  A
119386       3       0.0       0     FRA                  E
119387       2       0.0       0     DEU                  D
119388       2       0.0       0     GBR                  A
119389       2       0.0       0     DEU                  A

       assigned_room_type customer_type reservation_status Room_status  \
0                       C     Transient          Check-Out     Desired
1                       C     Transient          Check-Out     Desired
2                       C     Transient          Check-Out  Un-Desired
3                       A     Transient          Check-Out     Desired
4                       A     Transient          Check-Out     Desired
...                   ...           ...                ...         ...
119385                  A     Transient          Check-Out     Desired
119386                  E     Transient          Check-Out     Desired
119387                  D     Transient          Check-Out     Desired
119388                  A     Transient          Check-Out     Desired
119389                  A     Transient          Check-Out     Desired

       Guest_type
0         Couples
1         Couples
2          Single
3          Single
4         Couples
...           ...
119385    Couples
119386     Family
119387    Couples
119388    Couples
119389    Couples

[119390 rows x 14 columns]