In [11]:
import pandas as pd
data ={'Keys':['K1','K2','K1','K2'],
      'Names':['Aman','Dipankar','Nikhil','Kushagra'],
      'Houses':['Red','Blue','Green','Red'],
      'Grades':['3rd','8th','9th','8th']}
df = pd.DataFrame(data)
print(df)

  Keys     Names Houses Grades
0   K1      Aman    Red    3rd
1   K2  Dipankar   Blue    8th
2   K1    Nikhil  Green    9th
3   K2  Kushagra    Red    8th

In [12]:
# print pivoting
print(df.pivot('Keys','Names','Houses'))

Names Aman Dipankar Kushagra Nikhil
Keys
K1     Red      NaN      NaN  Green
K2     NaN     Blue      Red    NaN

In [13]:
print(df.pivot(index='Keys',columns='Names',values=['Houses','Grades']))

      Houses                          Grades
Names   Aman Dipankar Kushagra Nikhil   Aman Dipankar Kushagra Nikhil
Keys
K1       Red      NaN      NaN  Green    3rd      NaN      NaN    9th
K2       NaN     Blue      Red    NaN    NaN      8th      8th    NaN

In [14]:
# melting

data ={
      'Names':['Aman','Dipankar','Nikhil','Kushagra'],
      'Houses':['Red','Blue','Green','Red'],
      'Grades':['3rd','8th','9th','8th']}
df3 =pd.DataFrame(data)
print(df3)

      Names Houses Grades
0      Aman    Red    3rd
1  Dipankar   Blue    8th
2    Nikhil  Green    9th
3  Kushagra    Red    8th

In [22]:
import pandas as pd 
print(pd.melt(df3,id_vars=['Names'],value_vars=['Houses','Grades']))

      Names variable  value
0      Aman   Houses    Red
1  Dipankar   Houses   Blue
2    Nikhil   Houses  Green
3  Kushagra   Houses    Red
4      Aman   Grades    3rd
5  Dipankar   Grades    8th
6    Nikhil   Grades    9th
7  Kushagra   Grades    8th

In [24]:
 # New column of anme 
print(pd.melt(df3,id_vars=['Names'],value_vars=['Houses','Grades'],var_name = 'Series',value_name='Colur'))

      Names  Series  Colur
0      Aman  Houses    Red
1  Dipankar  Houses   Blue
2    Nikhil  Houses  Green
3  Kushagra  Houses    Red
4      Aman  Grades    3rd
5  Dipankar  Grades    8th
6    Nikhil  Grades    9th
7  Kushagra  Grades    8th